@import url('https://fonts.googleapis.com/css?family=Jomolhari|Merriweather&display=swap');
:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.3s;
    font-smooth: always;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::selection {
    background-color: azure;
    color: rebeccapurple;
}

*::-moz-selection {
    background-color: azure;
    color: rebeccapurple;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather', serif, sans-serif;
    background: #000 !important;
}

::-webkit-scrollbar {
    background: #ddd;
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #000070;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(125deg, #fff, #000);
    border-radius: 10px;
}

p {
    font-size: 1.15rem;
}

.sec1,
.sec2,
.sec3,
.sec4,
.sec5 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sec1:before,
.sec2:before,
.sec3:before,
.sec5:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}

.sec1:after,
.sec2:after,
.sec3:after,
.sec5:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(360deg, #000, transparent);
    pointer-events: none;
}